
  
.cal-view {
  
  
  %borderstyle {
    border-width: 0;
    border-color: $inputBorder;
    border-style: solid;
  }
  
  & > .week {
    
    @include flex-grow(1);
    @include flexbox();
    @include flex-flow(column nowrap);

    $hourWidth: 2em;
    $hourMinHeight: 3em;

    @extend %borderstyle;
    border-bottom-width: 1px;
    margin-left: $hourWidth;
    margin-top: 10px;

    .header {
      @include flex-grow(0);
      @include flex-shrink(0);
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(nowrap);

      @extend %borderstyle;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;

      .day {
        @include flex-shrink(0);
        @include flex-grow(1);
        margin: 4px;
        text-align: left;
        text-transform: uppercase;
        font-size: $fontSizeSmall;
      }
    }  
    
    .week-view {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      min-height: 1px;
      
      position: relative;
      
      .hours {
        width: $hourWidth;
        position: absolute;
        top: 0;
        left: $hourWidth * -1;
        @extend %borderstyle;
        border-right-width:1px;
        .hour {
          .title {
            font-size: $fontSizeSmall;
            color: $grayLight;
            @include flex-grow(1);
            padding: 3px 0 0 2px;
          }
        }
      }
      
      .hour {
        min-height: $hourMinHeight;
      }
      
      .days {
        @include flex-grow(1);
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        
        .day {
          @include flex-grow(1);
            @extend %borderstyle;
            border-right-width:1px;
          
          .hour {
            @extend %borderstyle;
            border-top-width:1px;
          }
        }
      }
      
    }
    
  }
  
}