.calendar {

  @include flex-grow(1);
  @include flexbox();
  @include flex-flow(row wrap);

  .column {
    @include flex-grow(1);
    @include flex-shrink(0);
  }

  .calendar-main {
    min-width: 480px;
    @include flex-grow(6);
    @include flexbox();
    @include flex-flow(column nowrap);

    .date-title {
      display: inline-block;
      margin-left: 1em;
    }

    .cal-nav {
      @include flex-grow(0);
      @include flex-shrink(0);
    }
  }

  .calendar-list {
    min-width: 220px;
    min-height: 120px;
  }

}


.cal {
  @include flex-grow(1);

}