.calendar {

  @include flex-grow(1);
  @include flexbox();
  @include flex-flow(row wrap);

  .column {
    @include flex-grow(1);
    @include flex-shrink(0);
  }

  .calendar-main {
    min-width: 480px;
    @include flex-grow(6);
    @include flexbox();
    @include flex-flow(column nowrap);

  }

  .calendar-list {
    min-width: 300px;
    max-width: 300px;
    min-height: 120px;
    @include flex-direction(row);

    .form {
      @include flex(0, 0, auto);
      @include flexbox();
    }
  }

  .calendar-mini {
    height: 250px;
  }

}