.client {
  @include flexbox();
  @include flex-flow(row wrap);

  .column {
    @include flex-shrink(0);
    min-width: 400px;
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
  }

  .form {
    @include flexbox();
    @include flex-grow(1);
    @include flex-shrink(0);
    @include flex-direction(column);
    @include flex-wrap(nowrap);
  }

  .input-append {
    select,
    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=number],
    input[type=email] {
      width: 160px;
    }
  }

  .control-label-input {
    padding: 0;

    input {
      width: 119px;
    }
  }

  .client-calendar-holder {

  }

}