.client-list {
  background: $white;
  @include box-shadow(3px 0px 2px hsla(0, 0%, 0%, .1));
  position: relative;
  padding-right: 15px;

  @include translate(0, 0);
  @include transition(margin .2s ease);

  &.hidden {
    margin-left: -250px;
  }

  .drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    background: $white;
    right: 0;
    width: 15px;
    z-index: 3;
    .handle {
      height: 40px;
      width: 15px;
      background: $white;
      position: absolute;
      @include translate(0, -50%);
      top: 50%;
      left: 15px;
      @include box-shadow(3px 0px 2px hsla(0, 0%, 0%, .1));
      @include flexbox();
      @include align-content(center);
      @include justify-content(center);
      @include align-items(center);
      cursor: pointer;
    }
  }

  nav {

    @include flex-grow(1);
    min-height: 0;
    overflow: auto;
    padding: 15px;

    ul {
      margin: 0;
      list-style-type: none;
      display: block;
    }
    li {

      a {
        text-decoration: none;
        padding: 6px 4px;
        display: block;
      }

      &.active a {
        background-color: $blue;
        color: $white;
      }

    }
  }
}