::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: fade-out($gray, .9);
}

::-webkit-scrollbar-thumb {
  background: fade-out($gray, .9);
  *:hover > & {
    background: fade-out($gray, .6);
  }
  &:hover {
    background: fade-out($gray, .4);
  }
}


.app {
  @include flexbox();
  @include flex-flow(column nowrap);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .header {
    @include flex-grow(0);
    @include flex-shrink(0);
    @include box-shadow(0 0px 2px hsla(0, 0%, 0%, .1));
    position: relative;
    z-index: 2;
  }

  .app-container {
    position: relative;
    z-index: 1;
    @include flex-grow(1);
    @include flexbox();
    @include flex-flow(row nowrap);

    .client-list {
      width: 250px;
      @include flex-grow(0);
      @include flex-shrink(0);
      @include flexbox();
      min-height: 0;
      overflow: auto;
      padding: 15px;
      position: relative;
      z-index: 1;
    }

    .main {
      @include flex-grow(1);
      @include flexbox();
      min-height: 0;
      overflow: auto;
      padding: 15px;
      position: relative;
      z-index: 1;
    }

  }
}