.app {
  @include flexbox();
  @include flex-flow(column nowrap);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .header {
    @include flex-grow(0);
    @include flex-shrink(0);
    @include box-shadow(0 2px 4px hsla(0, 0%, 0%, .2));
    position: relative;
    z-index: 2;
  }

  .app-container {
    position: relative;
    z-index: 1;
    @include flex-grow(1);
    @include flexbox();
    @include flex-flow(row nowrap);

    .client-list {
      width: 260px;
      @include flex-grow(0);
      @include flexbox();
      min-height: 0;
      overflow: auto;
      padding: 15px;
    }

    .main {
      @include flex-grow(1);
      @include flexbox();
      min-height: 0;
      overflow: auto;
      padding: 15px;
    }

  }
}