.client {
  .flex-display(flex);
  .align-self(flex-start);
  .flex-direction(row);
  .flex-wrap(wrap);

  .column {
    .flex(0);
  }

  .form.client-contacts {
    min-width: 400px;

    .controls {
      .btn {
        white-space: nowrap;
      }
    }
    .add-client-contact-button {
      height: 30px;
    }

    .input-append {
      input {
        width: 170px;
      }
    }

  }

  .form.client-details {
    .input-append {
      input {
        width: 179px;
      }
    }
  }
}