.client-list {

  min-width: @sidebarWidth;
  max-width: @sidebarWidth;
  .flex-display(flex);
  .flex-flow(column);
  .flex(0);


  nav {
    .flex(1);
    overflow-y: scroll; // auto
    min-height: 0;

    ul {
      margin: 0;
      padding: 0;
      display: block;
      list-style-type:none;

      li {
        margin: 0;

        a {
          padding: ((@baseLineHeight / 3) * 2) (@baseLineHeight) ;
          display: block;
          .lead {
            font-weight: 400;
          }
          &:hover {
            background: @green;
            color: @white;
            text-decoration: none;
          }
        }

        &.active a {
          background: @purple;
          color: @white;
        }
      }
    }
  }
}