.client {
  .flex-display(flex);
  .flex(1);
  .align-self(flex-start);

  .column {
    .flex(0);
  }

  .form.client-contacts {
    width: 400px;

    .controls {
      .btn {
        white-space: nowrap;
      }
    }
    .add-client-contact-button {
      height: 30px;
    }

    .input-append {
      input {
        width: 170px;
      }
    }

  }

  .form.client-details {
    .input-append {
      input {
        width: 179px;
      }
    }
  }
}