.home {

  position: relative;
  color: hsla(0, 0%, 10%, .1);
  left: 50px;
  top: 20px;
  cursor: default;
  pointer-events: none;
  width: 170px;
  height: 250px;

  i {
    font-size: 200px;
    position: absolute;
    left: 6px;
    top: 0;
  }

  span {
    font-size: 100px;
    font-family: 'Indie Flower';
    position: absolute;
    left: 0px;
    top: 210px;
  }

}