html, body {
  height: 100%;
}
body {

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: fadeout(@blue, 90%);
}

::-webkit-scrollbar-thumb {
  background: fadeout(@blue, 90%);
  *:hover > & {
    background: fadeout(@blue, 60%);
  }
  &:hover {
    background: fadeout(@blue, 40%);
  }
}

.nolla {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  .flex-display(flex);
  .flex-flow(column);
}

.app {
  .flex-display(flex);
  .flex-flow(column);
  .flex(1);

  .header {
    .flex(0);
  }

  .app-container {
    .flex(1);
    .flex-display(flex);
    .flex-flow(row);


    & > .main {
      margin-left: 20px;
      .flex(1);
      .flex-display(flex);
      .flex-flow(column);

      & > .main-content {
        .flex(1);
        overflow-y: auto;
        min-height: 0;
        .flex-flow(column);
        .flex-display(flex);
      }
    }

  }

}

.alerts {
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.column {
  margin-right: 20px;
  margin-top: 10px;
}

a {
  cursor: pointer;
}