html, body {
  height: 100%;
}
body {
  .flex-display(flex);
  .flex-flow(column);
}

.app {
  .flex-display(flex);
  .flex-flow(column);
  .flex(1);

  .header {
    .flex(0);
  }

  .app-container {
    .flex(1);
    .flex-display(flex);
    .flex-flow(row);


    & > .main {
      margin-left: 20px;
      .flex(1);
      overflow-y: auto;
      min-height: 0;
      .flex-display(flex);
    }

  }

}
