

.navbar {

  .client-search {
    width: @sidebarWidth;
    height: @navbarHeight;

    .input-prepend {
      .flex-display(flex);
      margin: 0;

      .add-on {
        border: 0;
        background: transparent;
        text-shadow: 0 1px 3px rgba(0,0,0,.25);
        color: @white;
        width: 40px;
        float: none;
        display: block;
        margin: 0;
        padding: 0;
        height: @navbarHeight;
        .flex-display(flex);
        .flex-flow(row);
        .align-items(center);
        position: relative;

        i {
          .align-self(center);
          .flex(0);
          margin: 8px;
        }

        &:after {
          @width: 8px;
          @height: 8px;
          display: block;
          content: "";
          width: @width;
          height: @height;
          background: @navbarBackground;
          position: absolute;
          right: @height / 2 * -1;
          top: 50%;
          margin-top: @width / 2 * -1;
          .rotate(-45deg);
          z-index: 10;
        }
      }

      input {
        .flex(1);
        height: @navbarHeight;
        .box-sizing(border-box);
        border:0;
        font-size: @fontSizeLarge;
        padding-left: 10px;
        &:focus {
          .box-shadow(none);
        }
      }

    }
  }

  background: @navbarBackground;

  .nav {
    margin: 0;
    & > li {

      &.active > a {

        .box-shadow(none);
        &:hover {
          .box-shadow(none);
        }

        &:after {
          @width: 8px;
          @height: 8px;
          display: block;
          content: "";
          width: @width;
          height: @height;
          background: @navbarLinkBackgroundActive;
          position: absolute;
          bottom: @height / 2 * -1;
          left: 50%;
          margin-left: @width / 2 * -1;
          .rotate(-45deg);
        }
      }

      & > a {
        position: relative;
        text-transform: uppercase;
        text-shadow: 0 1px 3px rgba(0,0,0,.25);
      }
    }
  }

}