


.calendar-directive {

  .month {
    $weekNumberWidth: 2em;
    $weekMinHeight: 4em;

    @include flexbox();
    @include flex(1, 0, auto);

    .events-placeholder {
      .events {
        display: none;
      }
    }

    .events {

      .event {
        background: fade-out($blue, .1);
        color: $white;
        padding: 0px 6px;
        margin: 1px;
        cursor: pointer;
      }
    }

    .month-view {
      @include flexbox();
      @include flex-direction(column);
      @include flex-wrap(nowrap);
      @include flex(1, 0, auto);

      .day {
        @include flex(1, 0, 13%);

        &.active, &.today {
          background: lighten($yellow, 30%);
          .title {
          }
        }

        &.othermonth, &.past {
          background: fade-out($grayLighter, .5);
          .title {
            color: $grayLight;
            text-shadow: 1px 1px $white;
          }
        }

      }

      .title {
        padding: 2px;
        text-align: right;
        font-size: $fontSizeSmall;
      }

      .week-number {
        @include flex(0, 0, $weekNumberWidth);
        border-right: 1px solid $inputBorder;
        .title {
          color: $gray;
        }
      }
      .month-row {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
      }
      .month-header {
        @include flex(0, 0, auto);
        border-bottom: 1px solid $inputBorder;

        .day {

          padding: 4px;
          text-align: left;
          text-transform: uppercase;
          font-size: $fontSizeSmall;

        }

      }
      .month-content {
        border-bottom: 1px solid $inputBorder;

        @include flexbox();
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        @include flex(1, 0, auto);

        .week {
          @include flex(1, 0, auto);
        }

        .day {
          border-right: 1px solid $inputBorder;
        }
      }
    }


  }
}