


.calendar-directive {

  %borderstyle {
    border-color: $inputBorder;
    border-style: solid;
  }

  .month {
    $weekNumberWidth: 2em;
    $weekMinHeight: 2em;
    width: 100%;
    min-height: 100%;

    @extend %borderstyle;
    border-width: 1px;

    thead {

      td {
      }

      .day {

        margin: 4px;
        text-align: left;
        text-transform: uppercase;
        font-size: $fontSizeSmall;

      }
    }

    .day {
    }

    .week {

      .week-number {
        width: $weekNumberWidth;

        .title {
          text-align: center;
          font-size: $fontSizeMini;
          color: $grayLight;
        }
      }

      .day {

        @extend %borderstyle;
        border-width: 0;
        border-left-width: 1px;
        border-top-width: 1px;
        position: relative;
        min-height: $weekMinHeight;
        width: 100%;

        &.active, &.today {
          background: $green;
          color: $white;
          .title {
            color: $white;
          }
        }

        .title {
          font-size: $fontSizeSmall;
          color: $gray;
          position: absolute;
          top: 2px;
          right: 2px;
        }

        &.old {
          .title {
            color: $grayLight;
            text-shadow: 1px 1px $white;
          }
        }
      }
    }

  }
}