.calendar-directive {

  .week {
    $weekNumberWidth: 3em;
    $weekMinHeight: 2em;
    $hourHeight: 40px;
    @include flexbox();
    @include flex(1, 0, auto);
    @include flex-direction(column);
    @include flex-wrap(nowrap);

    .week-view {
      @include flex(1, 0, auto);
      @include flexbox();
      @include flex-direction(column);
      @include flex-wrap(nowrap);
      min-height: 0;
      overflow: auto;

      .week-header {
        @include flex(0, 0, auto);
        margin-right: 10px;
      }

      .week-body {
        @include flex-grow(1);
        min-height: 250px;
        overflow-y: scroll;
        height:0;
      }

      table {
        width: 100%;
      }

      .week-table {

        td {
          padding: 0;
        }

        .day {
          width: (100% / 7);


          &.active, &.today {
            background: lighten($yellow, 30%);
            .title {
            }
          }

          &.othermonth, &.past {
            background: fade-out($grayLighter, .5);
            .title {
              color: $grayLight;
              text-shadow: 1px 1px $white;
            }
          }

        }

        .week-table-hour-column {
          width: $weekNumberWidth;
          max-width: $weekNumberWidth;
          .title {
            padding: 4px;
          }
          .title, .hour-div {
            text-align: right;
            font-size: $fontSizeSmall;
            color: $gray;
            padding-right: 4px;
          }
        }

        .hour-line {
          position: absolute;
          left: 0;
          right: 0;
          border-bottom: 1px solid red;
          -webkit-pointer-events: none;
          -moz-pointer-events: none;
          pointer-events: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }

        .hour-div {
          height: $hourHeight;
          line-height: $hourHeight;
          box-sizing: border-box;
        }

        .day-holder {
          position: relative;
          .event-placeholder {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
        }

        thead {
          border-bottom: 1px solid $inputBorder;
        }

        tbody {
        }

        .week-table-header {
          border-left: 1px solid $inputBorder;
          .day {
            padding: 4px;
            text-align: left;
            text-transform: uppercase;
            font-size: $fontSizeSmall;
          }
        }

        .week-table-body {

          .hour-div {
            position: relative;
            border-bottom: 1px solid $inputBorder;
            -webkit-pointer-events: none;
            -moz-pointer-events: none;
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;

            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              bottom: 0;
              right: 0;
              border-top: 1px dotted $inputBorder;
            }

            &:nth-child(2n+1) {

            }
          }

          .day {
            border-left: 1px solid $inputBorder;
            height: 100%;
          }
        }

      }

      .week-number, .week-hour-number {
      }

      .event-ghost {
        position: absolute;
        background: $pink;
        left: 0;
        right: 0;
        text-align: center;
        font-size: $fontSizeSmall;
        color: $white;
        padding-right: 4px;
        box-sizing: border-box;
        min-height: $hourHeight / 2 - 2;
        -webkit-pointer-events: none;
        -moz-pointer-events: none;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


      .event {
        box-sizing: border-box;
        position: absolute;
        min-height: 2em;
        font-size: $fontSizeSmall;
        width: 14%;
        margin-left: -2px;
        background: fade-out($blue, .1);
        margin-right: 2px;
        color: $white;
        padding: 0px 6px;
        .event-value {
          font-size: $baseFontSize;
        }
      }

      .hours {
        border-right: 1px solid $inputBorder;
      }
      .hour {
        text-align: right;
        font-size: $fontSizeSmall;
        height: 40px;
        .title {
          padding: 2px;
        }
      }



    }

  }

}