.calendar-directive {

  @include flex-grow(1);
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(wrap);

  .calendar-nav {
    @include flexbox();
    @include flex(0, 0, auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    .btn-group, .date-title {
      @include align-self(flex-start);
    }

    .pull-right {
      float: none;
      @include align-self(flex-end);
    }

    .date-title {
      display: block;
      margin:0 1em;
      line-height: 30px;
      @include flex(10, 0, auto);
    }
  }

  .calendar-view-holder {
    @include flex(1, 0, auto);
    @include flexbox();
    margin-top: 15px;

    .calendar-view {
      @include flexbox();
      @include flex(1, 0, auto);
    }
  }

}

@import "month";
@import "week";