<div ng-form>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Rediger aftale</h3>
  </div>
  <div class="modal-body">
    <div class="form form-horizontal">

      <div class="control-group">
        <label class="control-label" for="event.start">Start:</label>
        <div class="controls">
          <input id="event.start" moment-edit ng-model="model.event.start">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="event.end">Slut:</label>
        <div class="controls">
          <input id="event.end" moment-edit ng-model="model.event.end">
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="save()">Gem</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Luk</button>
    <button class="btn btn-danger" data-dismiss="modal" ng-click="delete()" ng-show="model.event.id">Slet aftale</button>
  </div>
</div>