<div class="journal" ng-form="journalForm">

  <div class="column">

    <div class="form form-horizontal">
      <div class="legend">
        <div class="form-header">
          <span>Rediger: {{model.client.firstName}} {{model.client.lastName}}</span>
        </div>
      </div>
    </div>

    <div class="toolbar">
      <div class="btn-group">
        <button class="btn" ng-click="addJournalEntry()">
          <i class="icon-plus-sign"></i>
          Tilføj journal
        </button>
      </div>
    </div>

    <div class="journals">
      <div class="entry" ng-repeat="journal in model.journals">
        <textarea>{{journal.entry}}</textarea>
      </div>
    </div>
  </div>
  <div class="column">

  </div>

</div>