<div class="week">
  <div class="header">
    <div class="day" ng-repeat="day in days">{{day | moment:'ddd'}} - {{day | moment:'D'}}/{{day | moment:'M'}}</div>
  </div>
  <div class="week-view">
    <div class="hours">
      <div class="hour" ng-repeat="hour in hours">
        <div class="title">{{hour}}</div>
      </div>
    </div>
    <div class="days">
      <div class="day" ng-repeat="day in days"
           ng-class="{old: day.month() != month, active: day.format('LL') == today.format('LL')}">
        <div class="hour" ng-repeat="hour in hours">&nbsp;</div>
      </div>
    </div>
  </div>
</div>