
<table class="month">
  <thead>
  <tr>
    <td class="week-number">&nbsp;</td>
    <td class="day" ng-repeat="day in dayNames">{{day}}</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="week in weeks" class="week">
    <td class="week-number">
      <div class="title">{{ week.number }}</div></td>
    <td ng-repeat="day in week">
      <div class="day"
           ng-click="addEvent(day)"
           data-toggle="modal" data-target="#add-event-modal" data-backdrop="false"
           ng-class="{ today: day.isSame(today, 'day'), old : day.month() != currentMonth }">
        <div class="title">{{ day | moment:'D' }}</div>
        <div class="event"
             ng-repeat="event in calendar.events.list"
          >{{ day.isSame(event.end.dateTime, 'date') }}</div>
      </div>
    </td>
  </tr>
  </tbody>
</table>