<table class="month">
  <thead>
  <tr>
    <td>&nbsp;</td>
    <td class="day" ng-repeat="day in dayNames">{{day}}</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="week in weeks" class="week">
    <td class="week-number">
      <div class="title">{{ week.number }}</div></td>
    <td ng-repeat="day in week">
          <div class="day"
               ng-class="{ today: day.isSame(today, 'day'), old : day.month() != currentMonth }">
              <div class="title">{{ day | moment:'D' }}</div>
          </div>
        </td>
  </tr>
  </tbody>
</table>