<div class="week">
  <div class="header">
    <div class="day" ng-repeat="day in dayNames">{{day}}</div>
  </div>
  <div class="week-view">
    <div class="hours">
      <div class="hour" ng-repeat="hour in hours">{{hour}}</div>
    </div>
    <div class="days">
      <div class="day" ng-repeat="day in days"
           ng-class="{old: day.month() != month, active: day.format('LL') == today.format('LL')}">
        <div class="title">{{day | moment:'D'}}</div>
        <div class="hour" ng-repeat="hour in hours">{{hour}}</div>
      </div>
    </div>
  </div>
</div>